.header {
  width: 100%;
  height: 64px;
  background-color: gray;
  display: flex;
  align-items: center;
  &__logo {
    color: white;
    margin: 0;
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  width: 100%;
  box-sizing: border-box;
}
