.content-wrap {
  min-height: calc(100% - 64px - 48px);
}

.account {
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  background-color: #efefef;
  background-size: cover;
}
