mat-icon {
  color: white;
}

.content-wrap {
  min-height: calc(100% - 64px - 48px);
}

.actions {
  display: flex;
  align-items: center;
}

.icon-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.account {
  cursor: pointer;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: none;
  background-color: #efefef;
  background-size: cover;
  margin-left: 24px;
}
