<div class="search-bar-wrap">
  <button (click)="userCheck()">チェック</button>
  <form class="form">
    <mat-form-field>
      <mat-label>キーワード</mat-label>
      <input type="text" matInput [formControl]="form" autocomplete="off" />
    </mat-form-field>
  </form>
  <mat-label>カテゴリー</mat-label>
  <div style="display: grid">
    <mat-radio-button value="" (change)="check($event)">全て</mat-radio-button>
    <mat-radio-button
      [value]="category"
      (change)="check($event)"
      *ngFor="let category of materialService.categoryOptions"
      >{{ category }}</mat-radio-button
    >
  </div>
</div>
