@import "mixins";
.section-grid {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 16px;
}
.search-section {
  max-height: 500px;
  margin-top: 24px;
  position: sticky;
  top: 12px;
}
.card-list {
  display: grid;
  gap: 24px;
  margin-bottom: 40px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  @include sp {
    grid-template-columns: none;
    margin-bottom: 24px;
  }
}
